.outer {
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  border: 1px solid beige;
  border-radius: 6px;
  background-color: rgb(76, 82, 82);
  color: #fff;
}

.outerline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 40px;
  background-color: rgb(52, 55, 55);
  color: #fff;
}
